.problem-details-title {
    text-align: center;
}

.report-link {
    display: block;
}

.table-cell-actions a:hover {
    cursor: pointer;
}

.table-cell-bg-colour {
    display: flex;
    text-transform: uppercase;
}

.bg-colour-example {
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
