/*------------------------------------*
    $THANKYOU
*------------------------------------*/

.thank__you {
    background: #DFF5FE;
}

.thank__you.thank__you .btn-info {
    color: #fff !important;
}

.thank_you_wrapper {
    max-height: 220px;
    overflow: auto;
}
/*
.thank__you ul {
    margin-left: 0;
}*/

.thank_you_wrapper li {
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
    /*list-style: none;*/
}

.thank_you_wrapper li + li {
    margin-top: 10px;
}

/*.thank_you.infobox h3 {
    border-bottom: 0;
    margin-bottom: 0;
}

.thank_you.infobox h3 a,
.thank_you.infobox h3 a:hover {
    color: #fff;
}*/

@media only screen and (max-width: 768px) {

    .thank_you_wrapper {
        max-height: 200px;
        overflow: auto;
    }

/* End Media Q */
}