.thank-you {
  margin: 10px;

  li.thank-you-note {
    background: rgb(246, 246, 247);
    padding: 10px;
    list-style: none;
    margin-top: 10px;
  }

  .no-decoration {
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  .user-photo {
    width: 32px;
  }

  .author-photo {
    width: 20px;
  }
  
  .js-like-component {
      display: inline-block;
      .liked.liked {
        border-right: 1px solid #b9b9b9;
        margin-right: 3px;
        padding-right: 6px;
        display: inline-block;
      }

      .glyphicons.glyphicons-thumbs-up {
        width: 12px;
      }
    }
}

.panel .panel-heading .btn.pull-right.thank-you--button {
  position: absolute;
  right: 23px;
  top: 14px;
}

.thank-you-link-inline {
  text-align: right;
  padding: 8px 10px 0 0;
  font-weight: bold;
}

// 1 narrow column
@element ".tile-thank-you" and (max-width: 280px) {
  eq_this {
    .panel .panel-heading .btn.pull-right.thank-you--button {
      width: 70px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}