.thank-you {
  .thank-you-item {
		list-style: none;
  	&:not(:first-of-type){
		margin-top:20px;
  	}
  }
  .thank-you-note {
    background: #f5f5f5;
	border-radius: 6px;
    padding: 10px;
	position: relative;
	hr {
		margin:8px 0;
		border-color: #e7e7e7;;
	}
	&:after {
	  content: "";
	  border-left: 10px solid transparent;
	  border-right: 10px solid transparent;
	  border-top: 10px solid #f5f5f5;
	  position: absolute;
	  bottom: -8px;
	  right: 10px;
	}
  }
  
  .thank-you-meta {
  	margin-top: 15px;
	text-align:right;
      .author-photo {
        width: 40px;
      }
  }

  .no-decoration {
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  .user-photo {
    width: 32px;
  }
  
  .js-like-component {
      display: inline-block;
      .liked.liked {
        border-right: 1px solid #e7e7e7;
        margin-right: 3px;
        padding-right: 6px;
        display: inline-block;
      }

      .glyphicons.glyphicons-thumbs-up {
        width: 12px;
      }
    }
	.edit-tools {
		display:block;
		.edit-thanks {
	        border-right: 1px solid #e7e7e7;
	        margin-right: 3px;
	        padding-right: 6px;
		}
		.delete-thanks {
			padding-left: 6px;
		}
	}
}

.panel .panel-heading .btn.pull-right.thank-you--button {
  position: absolute;
  right: 23px;
  top: 14px;
}

.thank-you-link-inline {
  text-align: right;
  padding: 8px 10px 0 0;
  font-weight: bold;
}

// 1 narrow column
@element ".tile-thank-you" and (max-width: 280px) {
  eq_this {
    .panel .panel-heading .btn.pull-right.thank-you--button {
      width: 70px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}