/*------------------------------------*
    $THANKYOU
*------------------------------------*/

.thank__you.thank__you .btn-info {
    color: #fff !important;
}

.thank_you_wrapper {
    max-height: 220px;
    overflow: auto;
}

.thank_you_wrapper li {
    background: rgb(246, 246, 247);
    padding: 10px;
    list-style: none;
}

.thank_you_wrapper li + li {
    margin-top: 10px;
}

.thank__you.panel .panel-heading .btn.pull-right {
    margin: -7px -4px 0 0;
}

@media only screen and (max-width: 768px) {

    .thank_you_wrapper {
        max-height: 200px;
        overflow: auto;
    }

/* End Media Q */
}